.date-wrapper {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: min(32.25px, 1.7vw);
  position: relative;
  width: max-content;
}

.date {
  white-space: pre;
  display: flex;
}

.main-date .day {
  color: rgb(var(--main-accent));
}
.outline-date {
  color: rgb(var(--main-bg-color));
  position: relative;
  top: -0.3em;
}

.outline-date {
  /* -webkit-text-stroke: 0.6px rgb(var(--main-fg-color)); */
  /* paint-order: stroke fill; */
  text-shadow: -1px -1px 0 rgba(var(--main-fg-color), 0.25),
    0 -1px 0 rgba(var(--main-fg-color), 0.25),
    1px -1px 0 rgba(var(--main-fg-color), 0.25),
    1px 0 0 rgba(var(--main-fg-color), 0.25),
    1px 1px 0 rgba(var(--main-fg-color), 0.25),
    0 1px 0 rgba(var(--main-fg-color), 0.25),
    -1px 1px 0 rgba(var(--main-fg-color), 0.25),
    -1px 0 0 rgba(var(--main-fg-color), 0.25);
}
.outline-date .day {
  text-shadow: -1px -1px 0 rgba(var(--main-accent), 0.5),
    0 -1px 0 rgba(var(--main-accent), 0.5),
    1px -1px 0 rgba(var(--main-accent), 0.5),
    1px 0 0 rgba(var(--main-accent), 0.5),
    1px 1px 0 rgba(var(--main-accent), 0.5),
    0 1px 0 rgba(var(--main-accent), 0.5),
    -1px 1px 0 rgba(var(--main-accent), 0.5),
    -1px 0 0 rgba(var(--main-accent), 0.5);
}

.date_str {
  display: inline;
}
