.left-section {
  flex-basis: 22%;
  padding: 0 5% 1.8% 6%;
  width: max-content;
}

.image-wrapper {
  position: relative;
  aspect-ratio: 69/100;
}

.image-border {
  display: block;
  position: absolute;
  top: 5%;
  bottom: -5%;
  left: -6.5%;
  right: 6.5%;
  border: var(--border);
  z-index: 1;
  overflow: hidden;
}

.image-border .squiggly {
  width: 300%;
  height: 200%;
  bottom: 20em;
  right: 20em;
}
.image {
  background-image: url(/public/main-image.jpg);
  background-size: auto;
  aspect-ratio: 69/100;
  z-index: 2;
  position: relative;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
}

.image-wrapper .edge {
  width: 9%;
  transform: rotate(-52deg);
}
.image-wrapper .edge:nth-of-type(1) {
  bottom: -2.5%;
  left: -7.5%;
}
.image-wrapper .edge:nth-of-type(2) {
  bottom: -2.5%;
  right: -1%;
}
.image-wrapper .edge:nth-of-type(3) {
  top: 2.5%;
  left: -7.9%;
}
