#modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background: transparent;
  display: grid;
  place-items: center;
}

#settings {
  width: 80%;
  height: 80%;
  backdrop-filter: blur(10px);
  background: rgba(var(--main-bg-color), 0.8);
  border: var(--border);
  position: relative;
  padding: 4em;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.close-button {
  position: absolute;
  top: calc(4em - 1.5em);
  right: calc(4em - 1.5em);
  width: 2vw;
  height: 2vw;
  padding: 1.5em;
  box-sizing: content-box;
}
.close-button:before,
.close-button:after {
  position: absolute;
  content: " ";
  width: 1px;
  height: calc(2vw + 1px);
  bottom: 1.5em;
  background: rgb(var(--main-fg-color));
}

.close-button:before {
  transform: rotate(-45deg);
}
.close-button:after {
  transform: rotate(45deg);
}

.settings-width {
  margin: 0 auto;
  width: 40%;
  min-width: 400px;
  max-width: 80%;
}

.settings-title {
  margin: 0 auto 1.5em auto;
  font-family: "Roboto Mono", monospace;
  color: rgb(var(--main-accent));
}

.settings-content {
  flex-grow: 1;
  position: relative;
  height: 100%;
  overflow: scroll;
}
.scroller {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 2em;
}

.settings-section {
  width: 100%;
}
.settings-section form {
  margin-bottom: 1.8em;
}
.settings-section:not(:first-of-type) {
  margin-top: 3em;
}
.settings-section:first-of-type .settings-title {
  margin-top: 0;
}
.settings-section-title {
  color: rgb(var(--accent-1));
  margin-top: 0;
}

.input-group {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1em;
  row-gap: 1em;
  margin-bottom: 1.8em;
}
.input-group .input-wrapper {
  display: contents;
}

.link-group {
  overflow: hidden;
  margin-bottom: 0.5em;
}
.link-group header {
  padding: 1em;
  z-index: 2;
  margin-bottom: 2.3em;
  position: relative;
}
.link-group header.accordion-closed {
  margin-bottom: 0.5em;
}
.link-group:nth-of-type(1) header {
  border: 1px solid rgb(var(--accent-1));
}
.link-group:nth-of-type(2) header {
  border: 1px solid rgb(var(--accent-2));
}
.link-group:nth-of-type(3) header {
  border: 1px solid rgb(var(--accent-3));
}
.link-group:nth-of-type(4) header {
  border: 1px solid rgb(var(--accent-4));
}

.link-group-links {
  margin-left: 2em;
}
