#modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background: transparent;
  display: grid;
  place-items: center;
}

#settings {
  width: 80%;
  height: 80%;
  backdrop-filter: blur(70px);
  background: rgba(var(--main-bg-color), 0.8);
  border: var(--border);
  position: relative;
  padding: 4em;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.close-button {
  position: absolute;
  top: calc(4em - 1.5em);
  right: calc(4em - 1.5em);
  width: 2vw;
  height: 2vw;
  padding: 1.5em;
  box-sizing: content-box;
}
.close-button:before,
.close-button:after {
  position: absolute;
  content: " ";
  width: 1px;
  height: calc(2vw + 1px);
  bottom: 1.5em;
  background: rgb(var(--main-fg-color));
}
.close-button:hover {
  animation: rotate;
  animation-duration: 2s;
}

.close-button:before {
  transform: rotate(-45deg);
}
.close-button:after {
  transform: rotate(45deg);
}

.settings-width {
  margin: 0 auto;
  width: 50%;
  min-width: 400px;
  max-width: 80%;
}

.settings-title {
  margin: 0 auto 1.5em auto;
  font-family: "Roboto Mono", monospace;
  color: rgb(var(--main-accent));
}

.settings-content {
  flex-grow: 1;
  position: relative;
  height: 100%;
  overflow: scroll;
}
.scroller {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 2em;
}

.settings-section {
  padding-right: 3em;
  box-sizing: border-box;
  width: 100%;
}

.settings-section:last-of-type {
  padding-bottom: 25vh;
}

.settings-section form {
  margin-bottom: 1.8em;
}
.settings-section:not(:first-of-type) {
  margin-top: 3em;
}
.settings-section:first-of-type .settings-title {
  margin-top: 0;
}
.settings-section-title {
  color: rgb(var(--accent-1));
  margin-top: 0;
}

.input-group {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1em;
  row-gap: 1em;
  margin-bottom: 1.8em;
}
.input-group .input-wrapper {
  display: contents;
}

.link-group {
  overflow: hidden;
  margin-bottom: 0.5em;
}
.link-group header {
  padding: 1em;
  z-index: 2;
  margin-bottom: 2.3em;
  position: relative;
  border: 1px solid rgb(var(--main-fg-color));
}
.link-group header.accordion-closed {
  margin-bottom: 0.5em;
}

.link-group header svg {
  display: block;
}
.link-group .left,
.link-group .edit-mode {
  display: flex;
  align-items: center;
  column-gap: 1em;
}
.link-group .display-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-details {
  border-bottom: 1px solid rgba(var(--main-fg-color), 0.5);
  margin-bottom: 0;
  padding-top: 1.8em;
  padding-bottom: 1.8em;
}
.link-details:last-of-type {
  border-bottom: none;
}
.link-details:first-of-type {
  padding-top: 0;
}

.link-group-links {
  margin-left: 2em;
}

.settings-content textarea {
  line-height: 2em;
  width: 100%;
  height: 30em;
  background: rgb(var(--main-bg-color));
  color: rgb(var(--main-fg-color));
  padding: 1em;
  box-sizing: border-box;
}

.settings-content button[data-role="generate keybinds"] {
  margin-bottom: 1.8em;
}

label[for="file-input"] .button-text {
  padding: 0.6em 0.9em;
}
form[name="image"] .input-group {
  margin-top: 1.8em;
}

.settings-section .settings-content {
  display: flex;
  flex-direction: column;
  row-gap: 1.8em;
  overflow: visible;
}
